.slick-prev, .slick-next {
    z-index: 1;
}

.slick-prev:before,
.slick-next:before{
    color: black;
    font-size: 20px;
    margin: 0px  auto;

}
.Bg-water{
    background-image: url("../../public/Img/BG.png");
    background-size: cover;
    object-fit: cover;
}

.S{
    box-shadow: 1px 1px 2px  2.5px #cccccc5e;
}